# Default code owners for entire repository
*   @hashgraph/hedera-sdk-java-maintainers 

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Legacy Maven project files
**/pom.xml                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/hedera-sdk-java-maintainers

# Gradle project files and inline plugins
/gradle/                                        @hashgraph/platform-ci @hashgraph/platform-ci-committers
gradlew                                         @hashgraph/platform-ci @hashgraph/platform-ci-committers
gradlew.bat                                     @hashgraph/platform-ci @hashgraph/platform-ci-committers
**/build-logic/                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers
**/gradle.*                                     @hashgraph/platform-ci @hashgraph/platform-ci-committers
**/*.gradle.*                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers

# Codacy Tool Configurations
/config/                                        @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/hedera-sdk-java-maintainers
.remarkrc                                       @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/hedera-sdk-java-maintainers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/hedera-sdk-java-maintainers
**/LICENSE                                      @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers
