# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Ignore generated source directories
gen/

# Ignore IDE specific directories
.idea/
*.iml

# Ignore local environment variables
.env

# Vim
*.swp
*.vim

# Output from running examples
out/
