# IDEA
.idea/
*.iml

# Local environment variables
.env

# Vim
*.swp
*.vim

# Maven
target/
examples/.settings/org.eclipse.m2e.core.prefs
examples/.settings/org.eclipse.jdt.core.prefs
examples/.settings/org.eclipse.core.resources.prefs
examples/.project
examples/.classpath
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.classpath
